.money-div{
    color: #fff;
    background: linear-gradient(35deg, #ccffff, #ffcccc, rgb(204, 204, 255));
    padding: 20px;
    margin: 10px 0;
    font-family: Roboto,sans-serif;
    font-size: 32px;
    font-weight: 00;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 9999; /* öğelerin altta mı üstte mi kalacağınız belirlemek için kullanılır. */
}