.header-div {
  font-size: 30px;
  background: #fff;
  padding: 30px 20px;
  font-weight: 400;
  line-height: 1.3em;
}

.header-img {
  display: block;
  width: 125px;
  height: 125px;
  margin: 10px auto 25px;
  border-radius: 125px;
}

.header-p{
  font-size: 30px;
  font-weight: 400;
}

.selectMenu-div {
  max-width: 1000px;
  background-color: #fff;
  margin: 10px 0;
  height: 160px;
  padding: 1px 0;
}

.selectMenu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 0;
  font-size: 20px;
}
